.home-orange {
    color: orange;
}

.home0 {
    margin-top: 373px;
    margin-left: 60px;
    font-size: 64px;
    height: 254px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home1-1 {
    margin-top: 233px;
    margin-left: auto;
    font-size: 48px;
    height: 125px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.home1-2 {
    margin-top: 140px;
    margin-left: auto;
    font-size: 48px;
    height: 64px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.home2-1 {
    margin-top: 200px;
    margin-left: 50px;
    font-size: 64px;
    height: 85px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home2-2 {
    margin-top: 110px;
    margin-left: 50px;
    font-size: 40px;
    height: 110px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home2-3 {
    margin-top: 28px;
    margin-left: 50px;
    font-size: 40px;
    height: 55px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home2-4 {
    margin-top: 125px;
    margin-left: 50px;
    font-size: 48px;
    height: 128px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home3-1 {
    margin-top: 220px;
    margin-left: 50px;
    font-size: 64px;
    height: 85px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home3-2 {
    margin-top: 152px;
    margin-left: 50px;
    font-size: 48px;
    height: 192px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home3-3 {
    margin-top: 81px;
    margin-left: 50px;
    font-size: 48px;
    height: 64px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home5-1 {
    margin-top: 248px;
    margin-left: auto;
    font-size: 64px;
    height: 85px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.home5-2 {
    margin-top: 80px;
    margin-left: auto;
    font-size: 48px;
    height: 125px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.home5-3 {
    margin-top: 80px;
    margin-left: auto;
    font-size: 48px;
    height: 125px;
    color: #fff;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}